<div class="flex flex-col gap-4 rounded border p-4">
  <app-card>
    @for (item of items(); track item.id) {
    <ng-container
      [ngTemplateOutlet]="itemTemplate"
      [ngTemplateOutletContext]="{ $implicit: item, level: 0 }"
    />
    }
  </app-card>

  <selected-items-list [selectedIds]="selectedItemIds()" />

  <clear-selection
    class="self-end"
    [hasSelection]="!!selectedItemIds().length"
    (clearSelection)="clearSelection()"
  />
</div>

<ng-template #itemTemplate let-item let-level="level">
  <app-checkbox
    [item]="item"
    [level]="level"
    (toggleExpanded)="onToggleExpanded($event)"
    (toggleSelected)="onToggleSelected($event)"
  />

  @if (item.children && item.expanded) { @for (child of item.children; track
  child.id) {
  <ng-container
    [ngTemplateOutlet]="itemTemplate"
    [ngTemplateOutletContext]="{ $implicit: child, level: level + 1 }"
  />
  } }
</ng-template>
