@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-surface: hsl(0, 0%, 100%);
  --color-hover: hsl(0, 0%, 96%);
  --color-text: hsl(195, 3%, 24%);
  --color-border: hsl(210, 0%, 89%);
  --color-primary: hsl(213, 97%, 53%);

  --font-sans: "Source Sans Pro", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;
  --radius: 3px;
}
